<!DOCTYPE html>
<html style="background-color: transparent">
  <div style="width: 100%; background-color: transparent">
    <head>
      <meta charset="utf-8" />
      <meta
        http-equiv="Content-Security-Policy"
        content="script-src 'self' 'unsafe-inline'"
      />
      <title>ProChat</title>
    </head>
    <body>
      <div style="width: 100%" id="root"></div>
    </body>
  </div>
</html>
